html, body {
  padding: 0;
  margin: 0;
}

.bg {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #2C2F33;
}

.stats {
  position: absolute;
  padding: 15px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Sans KR', sans-serif;
  color: white !important;
  margin: 0;
}
